.mainContainer {
    display: flex;
    flex-direction: column;

    &__content {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: start;
        height: 100%;

        >main {
            padding: 24px;
            transition: 0.3s;
            background-color: #fff;
            height: 100%;
        }
    }
}