.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;

    &__content {
        display: flex;

        >main {
            padding: 24px;
            overflow: hidden;
        }
    }
}