*{
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  border: none;
  list-style: none;
  outline: none;
}

body{
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}